/* Webfont: ApexNeue-Black */@font-face {
    font-family: 'ApexNeueBlack';
    src: url('ApexLegends-Regular.eot'); /* IE9 Compat Modes */
    src: url('ApexLegends-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ApexLegends-Regular.woff') format('woff'), /* Modern Browsers */
         url('ApexLegends-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('ApexLegends-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

