/* Webfont: Numberplate-Regular */@font-face {
    font-family: 'Numberplate';
    src: url('Numberplate_Big.woff2') format('woff2'), /* Modern Browsers */
         url('Numberplate_Big.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

