/* Webfont: Gouranga-Shadow */@font-face {
    font-family: 'GourangaShadow';
    src: url('Gouranga-Shadow.eot'); /* IE9 Compat Modes */
    src: url('Gouranga-Shadow.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Gouranga-Shadow.woff') format('woff'), /* Modern Browsers */
         url('Gouranga-Shadow.woff2') format('woff2'), /* Modern Browsers */
         url('Gouranga-Shadow.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

