/* Webfont: TeleTextType2-Regular */@font-face {
    font-family: 'TeleTextType2';
    src: url('TeleTextType2-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('TeleTextType2-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

