@font-face {
  font-family: "Teletext Type 1";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TeletextType1/TeletextType1-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Teletext Type 2";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TeletextType2/TeleTextType2-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Secret Beta";
  font-weight: 100 900;
  font-style: normal;
  src: url("../fonts/Odiosis/Secret-VF.ttf") format("woff2");
}

@font-face {
  font-family: "Fractured Italic";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/FracturedItalic/FracturedItalic-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Benny";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/invetero/invetero-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bootshaus";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Bootshaus/Bootshaus-Regular.woff2") format("woff2");
}
