/* Webfont: Benny-Outlaw */
@font-face {
  font-family: "Benny";
  src: url("Benny-Outlaw.eot"); /* IE9 Compat Modes */
  src: url("Benny-Outlaw.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Benny-Outlaw.woff") format("woff"),
    /* Modern Browsers */ url("Benny-Outlaw.woff2") format("woff2"),
    /* Modern Browsers */ url("Benny-Outlaw.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
