.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 5px;
  background-color: white;
  color: black;
  user-select: none;
  font-size: 30px;
  letter-spacing: 5px;
}
